.iconoRojo {
	color: #ff0000;
}	
.iconoVerde {
	color: #00ff00;
}	

.pantallaOculta
{
	width: 109.5px; height: 82px;
}
.pantallaChica
{
	width: 438px; height: 328px;
}
.pantallaMediana
{
	width: 876px; height: 656px;
}
.pantallaGrande
{
	width: 1314px; height: 984px;
}

